{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
    <table>
        <tbody>
            <tr>
                <td ><div class="page-header"><a href={% url 'main' %}>Home(trash list)</a></div></td>
                <td ><div class="page-header"><a href={% url 'add_trash' %}>Add new trash</a></div></td>
                <td ><div class="page-header"><a href={% url 'task_list'%}>Task list</a></div></td>
                <td ><div class="page-header"><a href={% url 'add_task'%}>Add new task</a></div></td>
            </tr>
        </tbody>
    </table>
<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Task">
</form>
{% endblock %}

{#</body>#}
{#</html>#}