.words{
    /*text-align: center;*/
    /*margin-top: 0;*/
    padding: 20px 20px 20px 40px;
    /*color: #822585;*/
    font-weight: 100;
    font-size: large;
    /*line-height: 120px;*/
    /*font-family: 'cursive';*/

}

 .page-header {
        background-color: lightblue;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
        font-family: 'cursive';
        font-weight: 100;
        font-size: large;
        /*line-height: 120px;*/
        /*font-family: 'cursive';*/
    }


td a {
        /*background-color: #ff9400;*/
        margin-top: 0;
        padding: 10px 10px 10px 10px;
        color: #578965;
        font-family: 'cursive';
    }

 p{
        /*background-color: #ff9400;*/
        margin-top: 0;
        margin-bottom: 0;
        /*padding: 10px 10px 10px 10px;*/
     font-size: medium;
        color: #822585;
        font-family: 'cursive';
    }

 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}