{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
    <table>
        <tbody>
            <tr>
                <td ><div class="words"><a href={% url 'main' %}>Home</a></div></td>
            </tr>
        </tbody>
    </table>
<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Task">
</form>
{% endblock %}

{#</body>#}
{#</html>#}