{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Define action</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
    <table >
        <tbody>
            <tr>
                <td ><div class="words"><a href={% url 'main' %}>Home(trash list)</a></div></td>
                <td ><div class="words"><a href={% url 'add_trash' %}>Add new trash</a></div></td>
                <td ><div class="words"><a href={% url 'task_list'%}>Task list</a></div></td>
                <td ><div class="words"><a href={% url 'add_task'%}>Add new task</a></div></td>
{#                <td ><div><a href={% url 'task_list'%}>Task list</a></div></td>#}
            </tr>
        </tbody>
    </table>
    <table >
    <tbody>
    <tr>
    <td >
    <!-- an hour video for django (blog in russian) tells about base.html-->
        {%  if trash_list %}
            <form action="{% url 'remove' name %}" method="post">{% csrf_token %}
            <ul>
                {% for obj in trash_list %}
                    <label class="">
                    <input type="checkbox" name="file" value="{{ obj }}">
                        {{ obj.path }}
                    </label>
                    <p></p>
                {% endfor %}
            <p></p>
            <input type="submit" value="Remove">
            </ul>
             </form>


            <form action="{% url 'recover' name %}" method="post">{% csrf_token %}
            <ul>
            <input type="submit" value="Recover">
            </ul>
             </form>

        {% else %}
            <p>Your trash is empty</p>
        {% endif %}

    </td>
    </tr>
    <tr>
        <td >
{#    <form action="{% url 'delete' name %}" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="delete">#}
{#        <br>#}
{#        <input type="submit" value="delete to trash">#}
{#    </form>#}
        </td>
    </tr>
    <tr>
        <td >
{#    <form action="{% url 'rex' name %}" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="reg">expression#}
{#        <br>#}
{#        <input type="text" name="path">subtree#}
{#        <br>#}
{#        <input type="submit" value="delete by regular expression">#}
{#    </form>#}
        </td>
    </tr>
    <tr>
        <td>
{#        <form action="{% url 'clear' name %}" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="submit" value="clear trash">#}
{#        </form>#}
        </td>
    </tr>
    </tbody>
    </table>
{% endblock %}

{#</body>#}
{#</html>#}