{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Delete trash</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
<table >
        <tbody>
            <tr>
                <td ><div class="words"><a href={% url 'main' %}>Home</a></div></td>
                <td ><div class="words"><a href={% url 'add_trash' %}>Add trash</a></div></td>
{#                <td ><div><a href={% url 'task_list'%}>task list</a></div></td>#}
            </tr>
        </tbody>
    </table>
<form method="Post" action="">
    <table >
        <tbody>
        <tr>
            <td>
                {% csrf_token %}
                {{ form }}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Delete trash">
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}

{#</body>#}
{#</html>#}