{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
<table >
        <tbody>
            <tr>
                <td ><div class="words"><a href={% url 'main' %}>Home(trash list)</a></div></td>
            <td ><div class="words"><a href={% url 'add_trash' %}>Add new trash</a></div></td>
            <td ><div class="words"><a href={% url 'task_list'%}>Task list</a></div></td>
            <td ><div class="words"><a href={% url 'add_task'%}>Add new task</a></div></td>
            </tr>
        </tbody>
    </table>
<form method="Post" action="">
    <table >
        <tbody>
        <tr>
            <td>
                {% csrf_token %}
                {{ form.as_p }}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Delete task">
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{#</body>#}
{#</html>#}