{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Home</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
{#     <div class="page-header">#}
{#        <h1><a href="/">Django Girls Blog</a></h1>#}
{#    </div>#}
<table>
    <tbody>
        <tr>
            <td ><div class="page-header"><a href={% url 'main' %}>Home(trash list)</a></div></td>
            <td ><div class="page-header"><a href={% url 'add_trash' %}>Add new trash</a></div></td>
            <td ><div class="page-header"><a href={% url 'task_list'%}>Task list</a></div></td>
            <td ><div class="page-header"><a href={% url 'add_task'%}>Add new task</a></div></td>
        </tr>
    </tbody>
    </table>
{% for obj in object_list %}
    <table style="margin-left: auto; margin-right: auto; background-color: #E0FFFF" width= 70%>
    <tbody>
        <tr>
            <td style="width: 25%; text-align: center"><div><a href={% url 'define_action' pk=obj.pk %}>{{ obj.name }}</a></div></td>
            <td style="width: 25%; text-align: center"><div>{{ obj.path }}</div></td>
            <td style="width: 25%; text-align: center"><div><a href={% url 'refresh_trash' pk=obj.pk %}>Refresh trash</a></div></td>
            <td style="width: 25%; text-align: center"><div><a href={% url 'delete_trash' pk=obj.pk %}>Delete trash</a></div></td>
        </tr>
    </tbody>
    </table>
{% endfor %}


{% endblock %}
{#</body>#}
{#</html>#}