{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Task</title>#}
{#</head>#}
{#<body>#}
{% extends 'base.html' %}
{% block content %}
<table >
        <tbody>
            <tr>
             <td ><div class="page-header"><a href={% url 'main' %}>Home(trash list)</a></div></td>
            <td ><div class="page-header"><a href={% url 'add_trash' %}>Add new trash</a></div></td>
            <td ><div class="page-header"><a href={% url 'task_list'%}>Task list</a></div></td>
            <td ><div class="page-header"><a href={% url 'add_task'%}>Add new task</a></div></td>
            </tr>
        </tbody>
    </table>
 {% if tasktodo_list %}
{% for obj in tasktodo_list %}
    <table style="margin-left: auto; margin-right: auto; background-color: #E0FFFF" width= 70%>
    <tbody>
        <tr>
            <td style="width: 100px; text-align: center"><div><a href={% url 'refresh_task' pk=obj.pk %}>{{ obj.name }}</a></div></td>
            <td style="width: 100px; text-align: center"><div>{{ obj.task_process }}</div></td>
            <td style="width: 100px; text-align: center">
{#                <div>#}
{#                    <a href={% url 'do_the_task' pk=obj.pk %}>Do the task</a>#}
{#                </div>#}
             {% if obj.task_process != obj.WAITING %}
                 {% if obj.task_process != obj.INPROCESS %}
                    <form action="{% url 'do_the_task' pk=obj.pk %}" method="post">{% csrf_token %}
{#pk - is a personal number of task(primary key)#}
                        <input type="submit" value="Do it">

                    </form>

                 {% endif %}
            {% endif %}
            </td>
            <td style="width: 100px; text-align: center"><div><a href={% url 'refresh_task' pk=obj.pk %}>Refresh task</a></div></td>
            <td style="width: 100px; text-align: center"><div><a href={% url 'delete_task' pk=obj.pk %}>Delete task</a></div></td>
        </tr>
    </tbody>
    </table>
{% endfor %}
{% else %}
<p> task is done</p>
{% endif %}
{##}
{#<form method="post" action="">{% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Create Task">#}
{#</form>#}
{#    <tbody>#}
{#        <tr>#}
{#            <td ><div><a href={% url 'add_trash'%}>Add new trash</a></div></td>#}
{#            <td ><div><a href={% url 'task_list'%}>Task list</a></div></td>#}
{#        </tr>#}
{#    </tbody>#}
{#    </table>#}
{#{% for obj in object_list %}#}
{#    <table>#}
{#    <tbody>#}
{#        <tr>#}
{#            <td ><div><a href={% url 'define_action' pk=obj.pk %}>{{ obj.pk }}</a></div></td>#}
{#            <td ><div>{{ obj.path }}</div></td>#}
{#            <td ><div><a href={% url 'refresh_task' pk=obj.pk %}>Refresh task</a></div></td>#}
{#            <td ><div><a href={% url 'delete_task' pk=obj.pk %}>Delete task</a></div></td>#}
{#        </tr>#}
{#    </tbody>#}
{#    </table>#}
{#{% endfor %}#}

{% endblock %}
</body>
</html>